# Node.js modules
node_modules/

# Npm log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency caches
.npm
.pnpm
.yarn

# Temporary files and folders
tmp/
temp/
out/

# Build folders
dist/
build/

# Environment variable files
.env
.env.test
.env.production
.env.local

# ESLint cache
.eslintcache

# Prettier cache
.prettierignore

# TypeScript build info
*.tsbuildinfo

# IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Log files
logs
*.log
npm-debug.log*
yarn-debug.log*
lerna-debug.log*

# Local environment settings
local.env

# Parcel cache
.cache/

# Jest test coverage
coverage/

# SvelteKit build folder
.svelte-kit/

# Next.js build folder
.next/

# Nuxt.js build folder
.nuxt/

# React Native folder
.expo/

# Editorconfig
.editorconfig

# Stylint cache
.stylelintcache

# Git-merge conflict files
*.orig
